@import url("../styles/App.css");

.Definition {
  padding: 10px;
}

.label {
  text-decoration: underline;
  color: var(--class-component-primary);
  margin: 3px 0;
}

#highlight {
  font-style: italic;
}
