@import url("../styles/App.css");

.Detailed {
  color: var(--class-component-primary);
  padding: 0 10px;
  margin-top: -10px;
  display: flex;
}

.Detailed:not(:last-child) {
  display: block;
}

.Detailed small {
  font-size: 18px;
}

#syllable {
  padding-right: 10px;
  border-right: 2px solid var(--class-component-primary);
}

#pronounciation {
  padding-left: 10px;
}

#pronounciation-sound {
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0 10px;
}

#pronounciation-sound:disabled #speaker {
  color: gray;
  cursor: initial;
}

#speaker {
  color: var(--class-component-primary);
  font-size: 20px;
  cursor: pointer;
  transition: 0.5s color;
}

#speaker:hover {
  color: white;
}

#offensive {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
  color: maroon;
}
