@import url("../styles/App.css");

footer {
  height: 10%;
  background-color: var(--class-component-primary);
  padding: 10px;
  color: white;
  display: flex;
}

.footer-content {
  display: flex;
  width: 470px;
  justify-content: space-between;
}

.footer-header {
  display: flex;
}

#logo {
  width: 100px;
  height: 100px;
  margin: 10px;
}

@media (max-width: 650px) {
  footer {
    flex-direction: column;
  }

  #logo {
    margin: auto;
  }

  .footer-header {
    display: flex;
    justify-content: center;
    padding: 10px;
  }

  .footer-content {
    display: flex;
    margin: auto;
  }
}

@media (max-width: 500px) {
  .footer-content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
