@import url("./App.css");

.Input {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

#search-logo {
  margin-top: 5px;
  padding-top: 3px;
}

input {
  padding: 5px;
  margin: 0 10px;
  border: none;
  border-bottom: 2px solid;
  background-color: transparent;
  outline: none;
}

#submit {
  background-color: transparent;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 0;
  border: 2px solid;
  padding: 5px 10px;
  cursor: pointer;
}

@media (max-width: 414px) {
  .Input {
    flex-direction: column;
  }

  .Input div {
    text-align: center;
  }

  input {
    width: 80%;
  }

  #submit {
    margin: 10px auto 0 auto;
    width: 90%;
  }
}
