@import url("./App.css");

.Input {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

#search-logo {
  margin-top: 5px;
  color: var(--class-component-primary);
  padding-top: 3px;
}

input {
  padding: 5px;
  margin: 0 10px;
  border: none;
  border-bottom: 2px solid var(--class-component-primary);
  background-color: transparent;
  outline: none;
}

::placeholder {
  color: var(--class-component-primary);
}

#submit {
  background-color: transparent;
  color: var(--class-component-primary);
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 0;
  border: 2px solid var(--class-component-primary);
  padding: 5px 10px;
  cursor: pointer;
  transition: 0.5s background-color;
}

#submit:hover {
  background-color: var(--class-component-primary);
  color: white;
}
